.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  cursor: pointer;
}

.spinner {
  height: 80px;
  margin: auto;
}

.App-intro {
  font-size: large;
}

/* new css for image component */

* {
  box-sizing: border-box;
}

.images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.App-header h2 {
  margin: 0;
}

.add-images {
  text-align: center;
}

.add-images button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.image {
  padding: 5px 25px 10px 25px;
  max-width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.image:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
}

input[type="button"] {
  padding: 5px;
  width: 80px;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #282c34;
  color: antiquewhite;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .image {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .image {
    max-width: 50%;
  }
}

@media screen and (max-width: 651px) {
  .image {
    max-width: 100%;
    margin: auto;
  }
}